* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: #c7c7c7;
  color: #2a0944;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  margin-top: auto;
}
.form {
  background-color: #c7c7c7;
  padding: 10px;
}
